/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
    --font-family: 'Poppins', sans-serif;
    --main-bg-color: #f4f4f4;
    --text-color: hsl(224, 56%, 12%);
    --primary-color: hsl(224, 89%, 60%);
    --secondary-color: hsl(224, 56%, 35%);
    --border-color: #e0e0e0;
    --button-hover-bg-color: #0056b3;
    --border-radius: 10px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --font-size-normal: .938rem;
    --font-size-large: 2rem;
    --font-size-medium: 1.25rem;
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 30px;
}

/*===== BASE =====*/
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-size: var(--font-size-normal);
}

h1, h2, p {
    margin: var(--spacing-medium) 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Estilos Específicos */

/* Estilo para la tabla con sombra más prominente */
table {
    border-collapse: separate;
    border-spacing: 0;
    margin: var(--spacing-large) auto;
    width: 80%;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra más prominente para efecto 3D */
}


table, th, td {
    border: 1px solid var(--border-color);
}

th, td {
    padding: var(--spacing-small);
    text-align: center;
}

/* Estilo para el encabezado de la tabla */
th {
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
}

/* Estilo para el título y subtítulo */
h1, h2 {
    text-align: center;
}

h1 {
    color: var(--primary-color);
    font-size: var(--font-size-large);
}

h2 {
    color: var(--secondary-color);
    font-size: var(--font-size-medium);
}

/* Estilo para el párrafo */
p {
    text-align: center;
    color: var(--text-color);
}

/* Estilo adicional para .container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding-bottom: var(--spacing-large);
}

/* Estilo para el formulario */
form {
    background-color: white;
    padding: var(--spacing-medium);
    margin: var(--spacing-medium) auto;
    width: 60%;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

/* Estilo para los elementos del formulario */
form label, form input, form button {
    display: block;
    width: 100%;
    margin: 5px auto;
}

form label {
    margin-bottom: 3px;
    color: var(--secondary-color);
}

form input {
    padding: var(--spacing-small);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

/* Estilo para el botón de enviar */
form input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
    }
    
    form input[type="submit"]:hover {
    background-color: var(--button-hover-bg-color);
    }
    
    /* Mejoras Visuales y Responsividad */
    .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-medium);
    }
    
    .section {
    padding: var(--spacing-large) 0;
    }
    
    /* Ajustes para botones y enlaces */
    .button, a.button {
    background-color: var(--primary-color);
    color: white;
    padding: var(--spacing-small) var(--spacing-large);
    text-align: center;
    border-radius: var(--border-radius);
    display: inline-block;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
    }
    
    .button:hover, a.button:hover {
    background-color: var(--button-hover-bg-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
    
    /* Responsividad */
    @media screen and (max-width: 768px) {
    .container {
    width: 95%;
    padding: var(--spacing-small);
    }
    table {
        width: 100%;
    }
    
    form {
        width: 100%;
    }
}